<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmOcean</title>
</head>
<body>
    <h1>Hello</h1>
    <p>Welcome to EmOcean</p>
    <p>EmOcean is a web application that allows you to track your emotions in real-time.</p>
    <br />
    <div class="input-container">
        <label for="nameInput">Enter your name:</label>
        <input type="text" id="nameInput" placeholder="Your name">
        <br />
        <br />
        <label for="emotionSelect">Select text:</label>
        <select id="emotionSelect">
            <option value="happy">1</option>
            <option value="sad">2</option>
        </select>
        
        <button onclick="startRecording()">Start</button>
    </div>

    <script>
        function startRecording() {
            const name = document.getElementById('nameInput').value.trim();
            const text = document.getElementById('emotionSelect').value;
            
            if (name) {
                window.location.href = `/record?name=${encodeURIComponent(name)}&text=${encodeURIComponent(text)}`;
            } else {
                alert('Please enter your name');
            }
        }
    </script>
</body>
</html>